/*


	THIS FILE BELONGS TO WAVES

	CASCADE STYLESHEET FOR INDEX.HTML


*/
body {
	/*color:burlywood;*/
	/*background-color:black;*/
	padding:1% 3%;
	margin:0;
	font-family:Helvetica;
	font-size: 1.2em;
}
main {
	max-width: 650px;
}

strong {
	/*color:orange;*/
	/*font-size:1.1em;*/
}
h1,h2,h3 {
	/*color:#ce8d2d;*/
}
ol {
  counter-reset: item
}
li {
  display: block
}
ol li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
  font-weight:bold;
  /*color:orange;*/
  /*font-size:1.1em;*/
}
a{
	/*color:orange;*/
}
div#TOC, div#TOC ul, div#TOC ul li {
	/*margin:0;*/
	padding:0;

}
div#TOC ul, div#TOC ul li {
	display:inline;
}
div#TOC ul li a {
	display:inline;
	color:black;
	font-weight:bold;
	font-family:Helvetica;
	font-size:60%;
	background-color: #EEEEEE;
	padding:0;
	margin:0;
	text-decoration: none;
	border-radius:20%;
}
div#TOC ul li a:hover{
	color:orange;
}













